body{
    margin: 0px;
}

.contenitore{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr) );
    grid-gap: 10px;
}
img{
    width: 100%;
    height: 100%;
}
img:hover{
    filter: blur(2.5px);
}
